body {
  margin-bottom: 90px;
   background-image:url('3000.jpg') !important;
		
	
}

.circle {
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.myFoter {
  position: bottom !important;
}
